[submodule "BnkExtractor"]
	path = BnkExtractor
	url = https://github.com/mikeoliphant/BnkExtractor
[submodule "Rocksmith2014PsarcLib"]
	path = Rocksmith2014PsarcLib
	url = https://github.com/mikeoliphant/Rocksmith2014PsarcLib
